{% extends "bootstrap/base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}

      <div class="container">
        
      <form class="form-signin">
        <div class="col-xs-4">
        <h2 class="form-signin-heading">Sign In</h2>       
            
            <label for="inputUsername" class="sr-only" >Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <br>
            <a href="{{ url_for('signup') }}">Not a User Yet? Sign Up</a>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </form>  

    </div> <!-- /container -->

{% endblock %}