{% extends "bootstrap/base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<form class="form-reset" action="{{url_for('passwordreset')}}" method="post">
<label for="inputPassword1" class="sr-only">Password</label>
    <input type="password" id="inputPassword1" name="inputPassword1" class="form-control" placeholder="Password" required>
    <br>
    <button id="btnreset" class="btn btn-lg btn-primary btn-block" type="submit">reset pwd</button>
    <br>
</form>
{% endblock %}